<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h3>Edit Data Car</h3>
    <form action="/cars/admin/edit/<%= car.id %>" method="POST">
        <label for="">Nama</label>
        <input type="text" name="name" placeholder="masukkan nama" value="<%= car.name %>" />
        <br />
        <button>Edit Data</button>
    </form>
</body>

</html>